h1 {
    padding-top: 5%;
}

#checkoutli,
#shippingli {
    background-color: white;
}

.deliveryinformation {
    display: block;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardnumbers {
    text-align: center;
    padding: 2%;
    padding-bottom: 7%;
}

#mmyy,
#cvc {
    width: 41.1%;
}

#cvc {
    margin-left: 2%;
}

#cardinfo,
#nameoncard {
    margin-top: 2%;
    max-width: 82%;
    width: 100%;
}

.information label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    text-align: right;
    color: #000000;
    align-self: flex-start;
    font-size: clamp(0.5rem, 0.4rem + 0.6667vw, 1.2rem);
    padding-left: 8%;
    font-weight: 500;
}

input {
    height: clamp(1.5rem, 1.2857rem + 1.4286vw, 3rem);
    border: 0.0625rem solid rgba(17, 17, 19, 0.2);
    border-radius: 0.25rem;
}

input::placeholder {
    font-size: clamp(0.4375rem, 0.3571rem + 0.5357vw, 1rem);
    padding-left: 3%;
}

.cartnavitem a {
    text-decoration: none;
    color: inherit;
}

#purchasesuccessfull {
    width: 50%;
}