body {
    background: linear-gradient(180deg, rgba(55, 54, 73, 0.81) 17.49%, rgba(53, 52, 119, 0.47) 96.06%);
    background-blend-mode: soft-light;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
    font-family: 'Baloo 2';
}

.navigation li {
    list-style-type: none;
}


.container1 {
    background-blend-mode: soft-light;
    background: linear-gradient(177.8deg, #460180 5.57%, #1d101000 98.2%);
    background-repeat: no-repeat;
    box-shadow: 0 0 8px 8px #1d101055;
    border-bottom: 1px solid transparent;
}

.container4 {
    width: auto;
    background-color: rgba(65, 20, 102, 1);
    background-repeat: no-repeat;
    color: white;
}

.container2,
.container3 {
    max-width: 2460px;
    margin: 0 auto;
}

.logo img {
    justify-content: center;
    width: clamp(5rem, 4.2857rem + 4.7619vw, 10rem);
    margin-top: calc(1rem + (2 - 1) * ((100vw - 240px) / (100 - 1920)));
    margin-bottom: calc(0.5rem + (0.7 - 0.5) * ((100vw - 240px) / (100 - 1920)));
}

.logo {
    display: grid;
    justify-content: center;
}

.navigation a {
    box-sizing: border-box;
    text-decoration: none;
}

.navigation {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.store,
.contact,
.about,
.cart {
    font-style: bold;
    font-family: 'Audiowide';
    font-size: clamp(0.5rem, 0.3857rem + 0.7619vw, 1.3rem);
    color: rgb(255, 255, 255);
    padding: 1rem;
    padding-bottom: 0.5rem;
    margin-right: clamp(0rem, -0.1339rem + 0.8929vw, 0.9375rem);
    margin-left: clamp(0rem, -0.1339rem + 0.8929vw, 0.9375rem);
    text-align: center;
}

.store:hover,
.contact:hover,
.about:hover,
.cart:hover {
    transition: 0.5s;
    color: rgba(191, 141, 224, 1)
}

.store {
    grid-column-start: 5;
}

.searchdiv {
    display: flex;
    justify-content: center;
    margin-top: clamp(0rem, -0.1rem + 0.6667vw, 0.7rem);
}

#search {
    box-sizing: border-box;
    border: 0.0625rem solid #FFFFFF;
    border-radius: 0.3rem;
    font-style: normal;
    line-height: 0.9375rem;
    color: #fff;
    background-color: transparent;
    width: clamp(10rem, 8.5714rem + 9.5238vw, 20rem);
    height: clamp(1.5rem, 1.4286rem + 0.4762vw, 2rem);
    align-self: center;
    margin: clamp(0.3125rem, 0.2232rem + 0.5952vw, 0.9375rem);
    padding-left: 2.1875rem;
}

/* Make sure that the calc function is being used correctly.
 The syntax should be calc(initial value + (final value - initial value) * ((100vw - minimum width) / (maximum width - minimum width))). */

#search::placeholder {
    color: rgba(128, 128, 128, 0.698);
    font-family: 'Audiowide';
    padding-left: 0;
    font-size: clamp(0.5rem, 0.4483rem + 0.3448vw, 1rem);
}

#searchbutton {
    background: transparent;
    border: transparent;
}

.search-bar {
    position: relative;
}

#searchbutton {
    position: absolute;
    right: 1;
    top: 35%;
    left: 6%;
    z-index: 1;
}

#searchbutton i {
    color: white;
}

#searchbutton:hover .fa-solid {
    border-bottom: 1px solid red;
    padding-bottom: 1px;
    cursor: pointer;
}

footer {
    display: flex;
    align-items: center;
    background-size: 100%;
    height: clamp(5rem, 4.2857rem + 4.7619vw, 10rem);
    margin: 0 auto;
}

.footbar {
    width: clamp(15rem, 7.9621rem + 46.9196vw, 64.265625rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}



.socialmedia i {
    margin: 0.3125rem 0.3125rem 0.3125rem 0.3125rem;
    color: white;
    font-size: clamp(0.875rem, 0.6875rem + 1.25vw, 2.1875rem);
}

/* calc(initial value + (final value - initial value) * ((100vw - minimum width) / (maximum width - minimum width))) */

.socialmedia p {
    text-align: center;
    font-size: clamp(0.5rem, 0.4286rem + 0.4762vw, 1rem);
    max-width: 100%;
    margin-bottom: 0.3125rem;
    margin-top: 0.1875rem;
    margin-bottom: calc(0.1rem + (0.3125 - 0.1) * ((100vw - 240px) / (100 - 1920)));
    text-decoration: none;
}

#logofooter {
    width: clamp(3.5rem, 3rem + 3.3333vw, 7rem);
    margin-top: 0.625rem;
}

.subscribe {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.625rem;
}

.subscribeitems {
    margin: 8px 0 0 0;
    text-align: center;
    font-size: clamp(0.5rem, 0.4286rem + 0.4762vw, 1rem);
}

#subscribebutton {
    height: clamp(0.5rem, 0.4224rem + 0.5172vw, 1.25rem);
    width: clamp(5rem, 4.2241rem + 5.1724vw, 12.5rem);
    font-size: clamp(0.5rem, 0.4286rem + 0.4762vw, 1rem);
    margin-top: calc(0.2rem + (0.625 - 0.2) * ((100vw - 240px) / (100 - 1920)));
    text-align: center;
    align-self: center;
}

#subscribebutton::placeholder {
    font-size: clamp(0.4375rem, 0.3793rem + 0.3879vw, 1rem);
}

#submitemail {
    text-align: center;
    height: clamp(1rem, 0.9276rem + 0.4828vw, 1.7rem);
    width: clamp(2.5rem, 2.2414rem + 1.7241vw, 5rem);
    margin: auto;
    font-size: clamp(0.4rem, 0.3379rem + 0.4138vw, 1rem);
    margin-top: calc(0.2rem + (0.625 - 0.2) * ((100vw - 240px) / (100 - 1920)));
    border-radius: 5px;
}

@media (max-width: 240px) {
    footer {
        height: 7rem;
    }
}

@media (max-width: 700px) {
    #searchbutton {
        position: absolute;
        right: 1;
        top: 26%;
        left: 6%;
        z-index: 1;
    }
}

@media (max-width: 240px) {
    .footbar {
        width: 200px;
    }
}