#shippingli {
    background-color: white;
}

.deliveryinformation {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-row-gap: 0.625rem;
    margin: 5% 20% 5% 20%;
}

.information {
    display: flex;
}

label {
    flex: 1;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    text-align: right;
    color: #000000;
    align-self: center;
    text-align: left;
    font-size: clamp(0.5rem, 0.4rem + 0.6667vw, 1.2rem);
}

input {
    flex: 2;
    height: clamp(1.5rem, 1.2857rem + 1.4286vw, 3rem);
    width: clamp(6.25rem, 3.0804rem + 21.131vw, 28.4375rem);
    margin-left: clamp(0rem, 0.4464rem + -2.9762vw, -3.125rem);
    border: 0.0625rem solid rgba(17, 17, 19, 0.2);
    border-radius: 0.25rem;
}

input::placeholder {
    font-size: clamp(0.4375rem, 0.3571rem + 0.5357vw, 1rem);
    padding-left: 3%;
}

.cartnavitem a {
    text-decoration: none;
    color: inherit;
}

.buttonshipping {
    text-decoration: none;
    color: white;
}