.storenav {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    width: clamp(23.75rem, 5.84rem + 47.76vw, 51.241875rem);
    height: clamp(1.7rem, 1.3357rem + 2.4286vw, 4.25rem);
    background: linear-gradient(180deg, rgba(53, 52, 119, 0.47) 17.49%, rgba(55, 54, 73, 0.81) 83.78%);
    border: 0.0625rem solid #000000;
    border-radius: clamp(0.5rem, 0.4107rem + 0.5952vw, 1.125rem);
}

.gametypes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: clamp(13rem, 8.8036rem + 27.9762vw, 42.375rem);
}

.gametypes a {
    font-family: 'Audiowide';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(0.5rem, 0.3857rem + 0.7619vw, 1.3rem);
    line-height: 1.9375rem;
    color: #FFFFFF;
    text-decoration: none;
}

#store {
    color: rgba(191, 141, 224, 1)
}

.storecontainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(53, 52, 119, 0.47) 17.49%, rgba(55, 54, 73, 0.81) 83.78%);
    max-width: fit-content;
    border: 0.1875rem solid rgba(83, 78, 125, 0.26);
    border-radius: 1.125rem 1.125rem 0px 0px;
    margin-bottom: 1.875rem;
    margin-top: 0.5rem;
}

.storeimagecontainer {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, minmax(16.9563rem, 1fr));
    grid-template-rows: repeat(4, 1fr);
    padding-bottom: 1.875rem;
}

.h1store {
    box-sizing: border-box;
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(1rem, 0.8214rem + 1.1905vw, 2.25rem);
    line-height: clamp(2rem, -0.5179rem + 3.4524vw, 3.625rem);
    color: #000000;
    font-weight: bolder;
    text-shadow: 0.0625rem 0.3125rem 0.25rem rgba(153, 153, 136, 0.25);
    padding-top: clamp(0rem, -0.1874rem + 1.249vw, 1rem);
    color: white;
}

.storeimagediv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: clamp(0.625rem, 0.1786rem + 2.9762vw, 3.75rem);
    margin-block: 1vh;
}

.imagea {
    padding-top: 0.625rem;
    max-width: 10.625rem;
}

.gameImage {
    max-width: 100%;
}

.storeimagesrest {
    max-width: 10.625rem;
    width: 100%;
}

.storeimages {
}

.price {
    box-sizing: border-box;
    margin-top: -0.3125rem;
    display: flex;
    flex-direction: column;
    max-width: 10.625rem;
    width: 100%;
    padding-bottom: 1.5vh;
    background: #01200A;
    box-shadow: 0.1875rem 0.125rem 0.25rem rgba(0, 0, 0, 0.25), inset 0px -0.125rem 0.375rem 0.25rem rgba(158, 255, 185, 0.51);
    border-radius: 0px 0px 0.625rem 0.625rem;
}

.price p {
    display: flex;
    justify-content: center;
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 600;
    font-size: clamp(0.625rem, 0.5804rem + 0.2976vw, 0.9375rem);
    line-height: 1.5rem;
    text-align: center;
    color: #FFFFFF;
    padding-top: 0.125rem;
}

.addtocart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 0.125rem;
    box-sizing: border-box;
    width: 6.9375rem;
    height: 2.0625rem;
    background: #0A7C23;
    border: 0.0625rem solid #2B2A49;
    box-shadow: 0px 0.0625rem 0.25rem rgba(255, 255, 255, 0.25);
    border-radius: 3.25rem;
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
    color: white;
    text-decoration: none;
}

.readmore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
    border: 0.0625rem solid #646464;
    filter: drop-shadow(0px 0.0625rem 0.25rem rgba(255, 255, 255, 0.25));
    background-color: transparent;
    color: white;
    border-radius: 3.25rem;
    width: 6.9375rem;
    height: 2.0625rem;
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
    margin-top: 0.3125rem;
    text-decoration: none;
}

.addtocart:hover {
    background: #37B052;
    border: 0.0625rem solid #292847;
    box-shadow: 0px 0.0625rem 0.25rem rgba(255, 255, 255, 0.25);
    border-radius: 3.25rem;
}

.readmore:hover {
    border: 0.0625rem solid #FFFFFF;
    filter: drop-shadow(0px 0.0625rem 0.25rem rgba(255, 255, 255, 0.25));
    border-radius: 3.25rem;
}

.gamebanner {
    margin-bottom: 1%;
}


@media (max-width: 1024px) {
    .images {
        max-width: 36.44rem;
        width: 95%;
    }

    .storeimagecontainer {
        grid-template-columns: repeat(2, minmax(11.25rem, 17.069rem));
    }

    .storenav {
        max-width: 36.44rem;
        width: 95%;
    }
}

@media (max-width: 569px) {
    .storecontainer {
        background: none;
        border: 0;
        border-radius: 0;
    }
}

@media (max-width: 400px) {
    .storeimagecontainer {
        grid-template-columns: repeat(1, minmax(6.25rem, 17.069rem));
    }

    .imagea {
        padding-top: 0.625rem;
        width: 15rem;
        max-width: 95%;
    }
    
    .price {
        width: 15rem;
        max-width: 95%;
    }

    .storeimagesrest {
        width: 15rem;
        max-width: 95%;
    }

    .storeimagediv {
        max-width: 95%;
    }
}

@media (min-width: 240px) and (max-width: 360px) {

    .storenav {
        width: clamp(13.75rem, -3.9773rem + 118.1818vw, 21.875rem);
    }
}

@media (max-width: 400px) {

    .storenav {
        width: clamp(14.6875rem, 0.1563rem + 96.875vw, 24.375rem);
    }
}