.storenav {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    width: clamp(23.75rem, 5.84rem + 47.76vw, 51.241875rem);
    height: clamp(1.7rem, 1.3357rem + 2.4286vw, 4.25rem);
    background: linear-gradient(180deg, rgba(53, 52, 119, 0.47) 17.49%, rgba(55, 54, 73, 0.81) 83.78%);
    border: 1px solid #000000;
    border-radius: clamp(0.5rem, 0.4107rem + 0.5952vw, 1.125rem);
}

.gametypes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: clamp(13rem, 8.8036rem + 27.9762vw, 42.375rem);
}

.gametypes a {
    font-family: 'Audiowide';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(0.5rem, 0.3857rem + 0.7619vw, 1.3rem);
    line-height: 1.9375rem;
    color: #FFFFFF;
    text-decoration: none;
}

#store {
    color: rgba(191, 141, 224, 1)
}

.storecontainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(53, 52, 119, 0.47) 17.49%, rgba(55, 54, 73, 0.81) 83.78%);
    max-width: fit-content;
    border: 3px solid rgba(83, 78, 125, 0.26);
    border-radius: 18px 18px 0px 0px;
    margin-bottom: 30px;
    margin-top: 0.5rem;
}

.storeimagecontainer {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, minmax(271.3px, 1fr));
    grid-template-rows: repeat(4, 1fr);
    padding-bottom: 30px;
}

h1 {
    box-sizing: border-box;
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(1rem, 0.8214rem + 1.1905vw, 2.25rem);
    line-height: clamp(2rem, -0.5179rem + 3.4524vw, 3.625rem);
    color: #000000;
    font-weight: bolder;
    text-shadow: 1px 5px 4px rgba(153, 153, 136, 0.25);
    padding-top: clamp(0rem, -0.1874rem + 1.249vw, 1rem);
    color: white;
}

.storeimagediv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: clamp(0.625rem, 0.1786rem + 2.9762vw, 3.75rem);
}

.storeimages {
    padding-top: 10px;
    max-width: 170px;
}

.price {
    box-sizing: border-box;
    margin-top: -5px;
    display: grid;
    grid-template-columns: 170px;
    grid-template-rows: 20px 40px 55px;
    background: #01200A;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.25), inset 0px -2px 6px 4px rgba(158, 255, 185, 0.51);
    border-radius: 0px 0px 10px 10px;
}

.price p {
    display: flex;
    justify-content: center;
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 600;
    font-size: clamp(0.625rem, 0.5804rem + 0.2976vw, 0.9375rem);
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 2px;
}

.addtocart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 2px;
    box-sizing: border-box;
    width: 111px;
    height: 33px;
    background: #0A7C23;
    border: 1px solid #2B2A49;
    box-shadow: 0px 1px 4px rgba(255, 255, 255, 0.25);
    border-radius: 52px;
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: white;
    text-decoration: none;
}

.readmore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid #646464;
    filter: drop-shadow(0px 1px 4px rgba(255, 255, 255, 0.25));
    background-color: transparent;
    color: white;
    border-radius: 52px;
    width: 111px;
    height: 33px;
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 5px;
    text-decoration: none;
}

.addtocart:hover {
    background: #37B052;
    border: 1px solid #292847;
    box-shadow: 0px 1px 4px rgba(255, 255, 255, 0.25);
    border-radius: 52px;
}

.readmore:hover {
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 1px 4px rgba(255, 255, 255, 0.25));
    border-radius: 52px;
}

.gamebanner {
    margin-bottom: 1%;
}


@media (max-width: 1200px) {
    .storeimagecontainer {
        grid-template-columns: repeat(2, minmax(180px, 271.3px));
    }
}

@media (max-width: 1024px) {
    .images {
        max-width: 583px;
        width: 95%;
    }

    .storenav {
        max-width: 583px;
        width: 95%;
    }
}

@media (max-width: 569px) {
    .storecontainer {
        background: none;
        border: 0;
        border-radius: 0;
    }
}

@media (max-width: 370px) {
    .storeimages {
        width: clamp(6.25rem, -1.8246rem + 53.8308vw, 10.62375rem);
    }

    .storeimagecontainer {
        grid-template-columns: repeat(2, minmax(100px, 271.3px));
    }

    .price {
        width: clamp(6.25rem, -1.8246rem + 53.8308vw, 10.62375rem);
    }

    .addtocart,
    .readmore {
        width: clamp(4.10653125rem, -1.1199rem + 34.8427vw, 6.9375rem);
        font-size: clamp(0.625rem, -0.0673rem + 4.6154vw, 1rem);
    }

    .price {
        grid-template-columns: clamp(6.4375rem, -1.8702rem + 55.3846vw, 10.9375rem);
    }

}


@media (min-width: 240px) and (max-width: 360px) {

    .storenav {
        width: clamp(13.75rem, -3.9773rem + 118.1818vw, 21.875rem);
    }
}

@media (max-width: 400px) {

    .storenav {
        width: clamp(14.6875rem, 0.1563rem + 96.875vw, 24.375rem);
    }
}