.gamessites {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: repeat(3, cover);
}

.games {
    margin-top: clamp(0.46875rem, 0.2679rem + 1.3393vw, 1.875rem);
}

#playboxgames {
    padding-bottom: 1.875rem;
}


#playstationgames,
#Pcgames,
#xboxgames {
    width: clamp(4.5rem, 2.9107rem + 10.5952vw, 15.625rem);
    height: clamp(4.5rem, 2.9107rem + 10.5952vw, 15.625rem);
}

#explorestore,
#playboxgames,
.pcxboxplaystation {
    width: clamp(20.4375rem, 13.9307rem + 29.7452vw, 49.625rem);
}

.pcxboxplaystation {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#explorestore:hover {
    content: url('/images/ExplorestoreActive.png')
}

#playstationgames:hover {
    content: url('/images/PlaystationGamesActive.png')
}

#Pcgames:hover {
    content: url('/images/PCGamesActive.png')
}

#xboxgames:hover {
    content: url('/images/XboxActive.png')
}

.hidelabel {
    display: none;
}

@media (min-width: 350px) and (max-width: 600px) {

    .images {
        width: 20.4375rem;
    }
}

@media (min-width: 240px) and (max-width: 350px) {

    #explorestore,
    #playboxgames,
    .pcxboxplaystation {
        width: clamp(15rem, 3.1364rem + 79.0909vw, 20.4375rem);
    }
}


/* calc(initial value + (final value - initial value) * ((100vw - minimum width) / (maximum width - minimum width))) */